<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aoe4Forum.mapper.CommentNoticeMapper">

    <resultMap id="CommentNoticeResultMap" type="com.aoe4Forum.entity.notice.CommentNotice">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="senderId" column="sender_id"/>
        <result property="businessId" column="business_id"/>
        <result property="createTime" column="create_time"/>
        <result property="postId" column="post_id"/>
    </resultMap>

    <insert id="insert" parameterType="map">
        INSERT INTO comment_notice (id, user_id, business_id,  create_time,sender_id, post_id)
        VALUES (#{id}, #{userId}, #{businessId}, #{createTime},#{senderId}, #{postId})
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="map">
        INSERT INTO comment_notice (id, user_id, business_id, create_time,sender_id, post_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.userId}, #{item.businessId},#{item.createTime},#{item.senderId}, #{item.postId})
        </foreach>
    </insert>

    <select id="cursorQuery" resultMap="CommentNoticeResultMap">
        SELECT cn.*, c.post_id 
        FROM comment_notice cn
        LEFT JOIN comment c ON cn.business_id = c.comment_id
        WHERE cn.user_id = #{request.userId}
        <if test="request.lastCreateTime != null and request.lastId != null">
            AND (
            cn.create_time &lt; #{request.lastCreateTime}
            OR (cn.create_time = #{request.lastCreateTime} AND cn.id &lt; #{request.lastId})
            )
        </if>
        ORDER BY cn.create_time DESC, cn.id DESC
        LIMIT #{request.pageSize}
    </select>

</mapper>
